@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(/assets/images/Group\ 1.png);
  color: #ffffff;
}

.logo-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 35%;
  /* padding: 10px; */
  padding-left: 10px;
  padding-right: 60px;

  padding-top: 35px;
}
.logo {
  margin-left: 40px;
}
.navbar > ul > li {
  list-style: none;
  /* gap: 100px; */
}
.navbar > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.navbar > ul > li :hover {
  color: #c5b21d;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20%;
}

.banner {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}
.banner .left h1 {
  font-size: 90px;
  font-weight: 700;
}
.banner .left h2 {
  font-size: 70px;
  font-weight: 400;
}
.banner .left p {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
  font-weight: 200px;
  width: 400px;
}
.banner .left a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #fedb03;
  font-size: 15px;
  color: #002240;
  border-radius: 20px;
  font-weight: 500;
}
.about-section {
  display: flex;
  column-gap: 15%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.professional {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.second-article {
  margin-left: 90px;
}
/* Do section */
.do-section {
  margin: 0 auto;
  background-color: #083053;
  padding-bottom: 50px;
  /* padding: 50px; */
}
.we {
  color: #fedb03;
  padding-top: 70px;
}

.improve {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #ffffff;
  padding-top: 5px;
}

.do-section P {
  text-align: center;
  margin: 20px;
}

.row-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 70px 0px 80px;
  padding: 10px;
}

.mission-one,
.vision-one {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  text-align: center;
  /* i can cut this */
  background-color: #002240;
  color: #8ea4b7;
  box-shadow: #167eda;
  border-top: 4px solid #0a66b6;
  border-radius: 2px;
}

.img-container,
.img-container-vision-one,
.img-container-mission-two,
.img-container-vision-two {
  padding: 15px;
}

.mission-one h3,
.vision-one h3,
.mission-two h3,
.vision-two h3 {
  color: #ffffff;
  padding-top: 10px;
}

/* ON HOVER PROCESS for mission one */
.mission-one:hover {
  background-color: #ffffff;
  transition: 0.8s;
  border-top: 4px solid #f59c18;
}
.mission-one:hover h3 {
  color: black;
}

.mission-one:hover img {
  background-color: #f59c18;
  transition: 0.5s;
}
/* END OF HOVER PROCESS for mission one */

/* ON HOVER PROCESS for VISON ONE */
.vision-one:hover {
  background-color: #ffffff;
  transition: 0.8s;
  border-top: 4px solid #f59c18;
}
.vision-one:hover h3 {
  color: black;
}

.vision-one:hover img {
  background-color: #f59c18;
  transition: 0.5s;
}
/* END OF HOVER PROCESS for VISION ONE*/

/* ROW TWO */
.row-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 80px;
  margin-bottom: 30px;
  padding: 15px;
}

.mission-two,
.vision-two {
  display: flex;
  flex-direction: row;
  text-align: center;
  column-gap: 15px;
  /* i can cut this */
  background-color: #002240;
  color: #8ea4b7;
  box-shadow: #167eda;
  border-top: 4px solid #0a66b6;
  border-radius: 2px;
}

/* ON HOVER PROCESS for mission two */
.mission-two:hover {
  background-color: #ffffff;
  transition: 0.8s;
  border-top: 4px solid #f59c18;
}
.mission-two:hover h3 {
  color: black;
}

.mission-two:hover img {
  background-color: #f59c18;
  transition: 0.5s;
}
/* END OF HOVER PROCESS for mission one */

/* ON HOVER PROCESS for VISON ONE */
.vision-two:hover {
  background-color: #ffffff;
  transition: 0.8s;
  border-top: 4px solid #f59c18;
}
.vision-two:hover h3 {
  color: black;
}

.vision-two:hover img {
  background-color: #f59c18;
  transition: 0.5s;
}
/* END OF HOVER PROCESS for VISION ONE*/

/* SERVICES */
.services {
  text-align: center;
  margin: 20px;
  margin-bottom: 70px;
  opacity: 1;
}

.service-headline {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.tools {
  display: flex;
  flex-direction: row;
  padding: 50px, 20px, 70px, 20px;
  column-gap: 30px;
  margin-left: 70px;
  margin-right: 70px;
  color: #083053;
}
.work-one,
.work-two,
.work-three {
  border: 4px solid #ffffff;
  padding: 20px 0px 5px 5px;
}

.work-one:hover {
  box-sizing: border-box;
  border: 15px solid white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
  opacity: 1;
}

.work-two:hover {
  box-sizing: border-box;
  border: 15px solid white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
}
.work-three:hover {
  box-sizing: border-box;
  border: 15px solid white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
}
.text-one,
.text-two,
.text-three {
  text-align: left;
  margin: 30px;
}
.service-duty {
  background-image: url(/assets/images/rim.png);
  background-color: #002240;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 60vh;
  padding: 20px;
  gap: 30px;
}
.service-duty h3 {
  font-size: 15px;
  font-weight: 500;
}
.service-duty h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 40px;
  text-align: center;
  padding: 30px;
  padding-bottom: 70px;
}

.service-duty p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 25px;
}

.service-duty a {
  text-decoration: none;
  color: #002240;
  background-color: #fedb03;
  padding: 10px 15px;
  border-radius: 50px;
  margin-top: 25px;
}
.fa-play-circle {
  color: #002240;
  margin-left: 15px;
}

.service-duty a:hover {
  background-color: #ffffff;
}

.team {
  text-align: center;
  padding: 70px;
}

.team h3 {
  font-size: 13px;
}

.team h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
.whole-team {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  margin-left: 40px;
  text-align: center;
}

.request {
  background: url(/assets/images/mast.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  width: 100%;
  height: 100vh;
  max-height: 350px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.request-text {
  padding: 100px 50px;
  background-color: #99a6ae;
  height: 150px;
  width: 400px;
}

.request p {
  font-size: 30px;
  color: #002240;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 45px;
}

.request .request-text a {
  text-decoration: none;
  background-color: #002240;
  padding: 20px 25px;
  border-radius: 30px;
  color: #ffffff;
  transition: ease 0.5s;
}

.request .request-text a:hover {
  color: #fff;
  background-color: #a3660b;
}
.request .request-text i {
  margin-left: 9px;
}

.sub-footer {
  display: flex;
  flex-direction: row;
  column-gap: 90px;
  margin: 40px 40px 0px 80px;
  text-align: center;
  color: #5193cc;
}
.sub-footer ul li {
  padding: 20px, 137px, 20px, 10px;
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  cursor: pointer;
  color: #002240;
}
footer h3 {
  color: #00060c;
  font-size: 14px;
}

.container-two {
  text-align: left;
}

.decorated-word-one::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
}

.decorated-word-two::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
}
.decorated-word-three::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
  text-align: left;
}
.decorated-word-four::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
}
.container-one,
.container-two,
.container-three,
.container-four {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
}
.address-one::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
}
.address-two::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
}

.address-three::before {
  content: "\2022";
  margin-right: 5px;
  color: #fedb03;
  font-size: 20px;
}
.container-one {
  text-align: left;
}

.container-three {
  text-align: left;
}
.container-four {
  text-align: left;
}

footer p {
  color: #002240cc;
}

.watermark p {
  text-align: center;
  background-color: #083053;
  line-height: 70px;
  color: #ffffff;
}

/* Media query for Mobile phone */

@media (min-width: 325px) {
  .navbar ul li {
    display: none;
  }
  .logo-holder {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin: 0px;
  }

  .logo-holder img {
    margin: 0px;
  }

  .navbar ul li:nth-last-child(-n + 2) {
    display: flex;
    flex-direction: column;
  }
  .fa-bars {
    margin-left: 25px;
  }
  .banner {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .banner .left h1 {
    font-size: 35px;
    font-weight: 700;
  }

  .banner .left h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .banner .left p {
    font-size: 12px;
    font-weight: 200px;
    width: auto;
  }
  .banner .left a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fedb03;
    font-size: 15px;
    color: #002240;
    border-radius: 20px;
    font-weight: 500;
    margin-left: 12%;
  }

  .right img {
    padding-top: 25px;
    width: 60%;
    margin: 0px;
  }
  .about-section {
    display: block;
    margin-top: 10%;
    padding: 0px;
    width: auto;
  }

  .about-section img {
    width: 80%;
    padding: 0px;
    padding-bottom: 20px;
  }

  .right h1 {
    font-size: 30px;
  }

  .do-section {
    display: block;
    text-align: center;
  }

  .improve {
    font-size: 30px;
  }

  .row-one {
    display: block;
    text-align: center;
    font-size: 6px;
    font-weight: 500;
    padding-bottom: 4px;
    width: auto;
    margin: auto;
  }

  .mission-one {
    margin-bottom: 15px;
  }

  .mission-two {
    margin-bottom: 15px;
  }

  .row-two {
    display: block;
    text-align: center;
    font-size: 6px;
    font-weight: 500;
    width: auto;
    margin: 0 auto;
  }

  .row-two p {
    font-size: 4.5px;
    font-weight: 500;
  }

  .services {
    display: block;
  }

  .service-headline {
    font-size: 25px;
  }

  .services .tools {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .service-duty {
    margin: 0 auto;
    /* display: block; */
    width: auto;
    padding: 0px;
  }

  .service-duty h1 {
    font-size: 30px;
    padding: 15px;
    margin: 10px;
  }
  .team {
    display: block;
    text-align: center;
  }

  .team h1 {
    font-size: 20px;
  }

  .whole-team {
    display: block;
    margin: 0 auto;
    width: auto;
    padding: 0px;
  }

  .request {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0px;
  }

  .request-text p {
    font-size: 7px;
    width: auto;
    font-weight: 500;
    /* text-align: left; */
  }

  .sub-footer {
    display: block;
    padding: 15px;
    margin: 10px;
    width: auto;
  }
  .container-one,
  .container-two,
  .container-three {
    padding-bottom: 12px;
  }

  .watermark {
    padding: 0px;
    margin: 0 auto;
  }
}

@media (min-width: 640px) {
}

/* For Laptop */
@media (min-width: 1025px) {
  .logo-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20%;
    padding-top: 35px;
  }
  .logo {
    margin-left: 40px;
  }
  .navbar > ul > li {
    list-style: none;
    /* gap: 100px; */
  }
  .navbar > ul > li > a {
    text-decoration: none;
    color: #ffffff;
  }

  .navbar > ul > li :hover {
    color: #c5b21d;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20%;
  }

  .banner {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
  }
  .banner .left h1 {
    font-size: 90px;
    font-weight: 700;
  }
  .banner .left h2 {
    font-size: 70px;
    font-weight: 400;
  }
  .banner .left p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
    font-weight: 200px;
    width: 400px;
  }
  .banner .left a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fedb03;
    font-size: 15px;
    color: #002240;
    border-radius: 20px;
    font-weight: 500;
  }
  .about-section {
    display: flex;
    column-gap: 15%;
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .professional {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .second-article {
    margin-left: 90px;
  }
  /* Do section */
  .do-section {
    margin: 0 auto;
    background-color: #083053;
    padding-bottom: 50px;
    /* padding: 50px; */
  }
  .we {
    color: #fedb03;
    padding-top: 70px;
  }

  .improve {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
    padding-top: 5px;
  }

  .do-section P {
    text-align: center;
    margin: 20px;
  }

  .row-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 70px 0px 80px;
    padding: 10px;
  }

  .mission-one,
  .vision-one {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    text-align: center;
    /* i can cut this */
    background-color: #002240;
    color: #8ea4b7;
    box-shadow: #167eda;
    border-top: 4px solid #0a66b6;
    border-radius: 2px;
  }

  .img-container,
  .img-container-vision-one,
  .img-container-mission-two,
  .img-container-vision-two {
    padding: 15px;
  }

  .mission-one h3,
  .vision-one h3,
  .mission-two h3,
  .vision-two h3 {
    color: #ffffff;
    padding-top: 10px;
  }

  /* ON HOVER PROCESS for mission one */
  .mission-one:hover {
    background-color: #ffffff;
    transition: 0.8s;
    border-top: 4px solid #f59c18;
  }
  .mission-one:hover h3 {
    color: black;
  }

  .mission-one:hover img {
    background-color: #f59c18;
    transition: 0.5s;
  }
  /* END OF HOVER PROCESS for mission one */

  /* ON HOVER PROCESS for VISON ONE */
  .vision-one:hover {
    background-color: #ffffff;
    transition: 0.8s;
    border-top: 4px solid #f59c18;
  }
  .vision-one:hover h3 {
    color: black;
  }

  .vision-one:hover img {
    background-color: #f59c18;
    transition: 0.5s;
  }
  /* END OF HOVER PROCESS for VISION ONE*/

  /* ROW TWO */
  .row-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 70px;
    margin-left: 80px;
    margin-bottom: 30px;
    padding: 15px;
  }

  .mission-two,
  .vision-two {
    display: flex;
    flex-direction: row;
    text-align: center;
    column-gap: 15px;
    /* i can cut this */
    background-color: #002240;
    color: #8ea4b7;
    box-shadow: #167eda;
    border-top: 4px solid #0a66b6;
    border-radius: 2px;
  }

  /* ON HOVER PROCESS for mission two */
  .mission-two:hover {
    background-color: #ffffff;
    transition: 0.8s;
    border-top: 4px solid #f59c18;
  }
  .mission-two:hover h3 {
    color: black;
  }

  .mission-two:hover img {
    background-color: #f59c18;
    transition: 0.5s;
  }
  /* END OF HOVER PROCESS for mission one */

  /* ON HOVER PROCESS for VISON ONE */
  .vision-two:hover {
    background-color: #ffffff;
    transition: 0.8s;
    border-top: 4px solid #f59c18;
  }
  .vision-two:hover h3 {
    color: black;
  }

  .vision-two:hover img {
    background-color: #f59c18;
    transition: 0.5s;
  }
  /* END OF HOVER PROCESS for VISION ONE*/

  /* SERVICES */
  .services {
    text-align: center;
    margin: 20px;
    margin-bottom: 70px;
    opacity: 1;
  }

  .service-headline {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .tools {
    display: flex;
    flex-direction: row;
    padding: 50px, 20px, 70px, 20px;
    column-gap: 30px;
    margin-left: 70px;
    margin-right: 70px;
    color: #083053;
  }
  .work-one,
  .work-two,
  .work-three {
    border: 4px solid #ffffff;
    padding: 20px 0px 5px 5px;
  }

  .work-one:hover {
    box-sizing: border-box;
    border: 15px solid white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
    opacity: 1;
  }

  .work-two:hover {
    box-sizing: border-box;
    border: 15px solid white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
  }
  .work-three:hover {
    box-sizing: border-box;
    border: 15px solid white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
  }
  .text-one,
  .text-two,
  .text-three {
    text-align: left;
    margin: 30px;
  }
  .service-duty {
    background-image: url(/assets/images/rim.png);
    background-color: #002240;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 60vh;
    padding: 20px;
    gap: 30px;
  }
  .service-duty h3 {
    font-size: 15px;
    font-weight: 500;
  }
  .service-duty h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    padding: 30px;
    padding-bottom: 70px;
  }

  .service-duty p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 25px;
  }

  .service-duty a {
    text-decoration: none;
    color: #002240;
    background-color: #fedb03;
    padding: 10px 15px;
    border-radius: 50px;
    margin-top: 25px;
  }
  .fa-play-circle {
    color: #002240;
    margin-left: 15px;
  }

  .service-duty a:hover {
    background-color: #ffffff;
  }

  .team {
    text-align: center;
    padding: 70px;
  }

  .team h3 {
    font-size: 13px;
  }

  .team h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .whole-team {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin-left: 40px;
    text-align: center;
  }

  .request {
    background: url(/assets/images/mast.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    width: 100%;
    height: 100vh;
    max-height: 350px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .request-text {
    padding: 100px 50px;
    background-color: #99a6ae;
    height: 150px;
    width: 400px;
  }

  .request p {
    font-size: 30px;
    color: #002240;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 45px;
  }

  .request .request-text a {
    text-decoration: none;
    background-color: #002240;
    padding: 20px 25px;
    border-radius: 30px;
    color: #ffffff;
    transition: ease 0.5s;
  }

  .request .request-text a:hover {
    color: #fff;
    background-color: #a3660b;
  }
  .request .request-text i {
    margin-left: 9px;
  }

  .sub-footer {
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    margin: 40px 40px 0px 80px;
    text-align: center;
    color: #5193cc;
  }
  .sub-footer ul li {
    padding: 20px, 137px, 20px, 10px;
    text-align: center;
  }

  .socials {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    cursor: pointer;
    color: #002240;
  }
  footer h3 {
    color: #00060c;
    font-size: 14px;
  }

  .container-two {
    text-align: left;
  }

  .decorated-word-one::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
  }

  .decorated-word-two::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
  }
  .decorated-word-three::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
    text-align: left;
  }
  .decorated-word-four::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
  }
  .container-one,
  .container-two,
  .container-three,
  .container-four {
    font-size: 15px;
    line-height: 22.5px;
    font-weight: 400;
  }
  .address-one::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
  }
  .address-two::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
  }

  .address-three::before {
    content: "\2022";
    margin-right: 5px;
    color: #fedb03;
    font-size: 20px;
  }
  .container-one {
    text-align: left;
  }

  .container-three {
    text-align: left;
  }
  .container-four {
    text-align: left;
  }

  footer p {
    color: #002240cc;
  }

  .watermark p {
    text-align: center;
    background-color: #083053;
    line-height: 70px;
    color: #ffffff;
  }

  /* .logo-holder {
    display: flex;
    flex-direction: row;
    column-gap: 40%;
  }

  .navbar ul li {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
  }

  .logo-holder img {
    margin: 0px;
  }

  .navbar ul li:nth-last-child(-n + 2) {
    display: flex;
    flex-direction: column;
  }
  .fa-bars {
    margin-left: 20px;
  }
  .banner {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .banner .left h1 {
    font-size: 35px;
    font-weight: 700;
  }

  .banner .left h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .banner .left p {
    font-size: 12px;
    font-weight: 200px;
    width: auto;
  }
  .banner .left a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #fedb03;
    font-size: 15px;
    color: #002240;
    border-radius: 20px;
    font-weight: 500;
    margin-left: 12%;
  }

  .right img {
    padding-top: 25px;
    width: 60%;
    margin: 0px;
  }
  .about-section {
    display: block;
    margin-top: 10%;
    padding: 0px;
    width: auto;
  }

  .about-section img {
    width: 80%;
    padding: 0px;
    padding-bottom: 20px;
  }

  .right h1 {
    font-size: 30px;
  }

  .do-section {
    display: block;
    text-align: center;
  }

  .improve {
    font-size: 30px;
  }

  .row-one {
    display: block;
    text-align: center;
    font-size: 6px;
    font-weight: 500;
    padding-bottom: 4px;
    width: auto;
    margin: auto;
  }

  .mission-one {
    margin-bottom: 15px;
  }

  .mission-two {
    margin-bottom: 15px;
  }

  .row-two {
    display: block;
    text-align: center;
    font-size: 6px;
    font-weight: 500;
    width: auto;
    margin: 0 auto;
  }

  .row-two p {
    font-size: 4.5px;
    font-weight: 500;
  }

  .services {
    display: block;
  }

  .service-headline {
    font-size: 25px;
  }

  .services .tools {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .service-duty {
    margin: 0 auto;
    width: auto;
    padding: 0px;
  }

  .service-duty h1 {
    font-size: 30px;
    padding: 15px;
    margin: 10px;
  }
  .team {
    display: block;
    text-align: center;
  }

  .team h1 {
    font-size: 20px;
  }

  .whole-team {
    display: block;
    margin: 0 auto;
    width: auto;
    padding: 0px;
  }

  .request {
    display: block;
    width: auto;
    margin: 0 auto;
    padding: 0px;
  }

  .request-text p {
    font-size: 7px;
    width: auto;
    font-weight: 500;
  
  }

  .sub-footer {
    display: block;
    padding: 15px;
    margin: 10px;
    width: auto;
  }
  .container-one,
  .container-two,
  .container-three {
    padding-bottom: 12px;
  }

  .watermark {
    padding: 0px;
    margin: 0 auto;
  } */
}

/* @media screen and (min-width: 600px) {
  .navbar ul li {
    display: none;
  }

  .logo-holder {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }

  .navbar ul li:nth-last-child(-n + 2) {
    display: flex;
    flex-direction: column;
  }

  .fa-bars {
    margin-left: 35px;
  }

  .banner {
    display: block;
    text-align: center;
  }

  .innovation {
    font-size: 50px;
  }

  .contracture {
    font-size: 40px;
  }
  .banner p {
    font-size: 15px;
  }

  .right img {
    padding-top: 30px;
    width: 100%;
    margin-left: 0px;
  } */
/* BANNER SECTION ENDS HERE */
/* 
  .about-section {
    display: block;
 
  }

  .about-section-text {
    text-align: right;
    font-size: 17px;
  }

  .about-section img {
    padding-bottom: 20px;
  }

  .second-article {
    font-size: 17px;
  }

  .professional {
    font-size: 40px;
  }

  .about-section p {
    text-align: left;
  }

  .do-section {
    display: block; 
    
    text-align: left;
  }*/

/* .improve {
    font-size: 20px;
  }

  .row-one,
  .row-two {
    font-size: 7px;
    display: block;
    text-align: center;
  }
  .services {
    margin: 0px;
    text-align: center;
  }

  .services p {
    font-size: 20px;
  }

  .text-one,
  .text-two {
    text-align: center;
  }

  .text-three {
 
    text-align: center;
  }
  .service-headline {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .tools {
    display: block;
  }

  .service-duty {
    text-align: center;
  }

  .service-duty h1 {
    font-size: 40px;
  }

  .intro {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    background-color: #fedb03;
    margin: 0px 10% 0px 8px;
    border-radius: 50px;
    color: #002240;
  } */

/* .fa-play-circle{
  padding-bottom: 15px;
} */

/* .about-section > p {
    font-size: 10px;
  } */

/* .team {
    text-align: center;
  }

  .whole-team {
    display: block;
    width: 15px;
    margin: 0px;
  }
  .sign {
    flex-direction: row;
    background-color: #f59c18;
    text-align: center;
    margin: 0px 2% 0px 0%;
    column-gap: 30px;
    padding: 0px 10% 0px 5px;
    border-radius: 50px;
    color: #b9c7d4;
    cursor: pointer;
  }

  .sign p {
    font-size: 13px;
  }

  /* .request-text {
    text-align: left;
  } */

/* .fa-chevron-circle-right {
    padding-bottom: 0;
  } */

/* .sub-footer {
    display: block;
  }
}  */
